body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #f7f7f7;
}

#search-form {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

#search-input {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#search-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#result {
    font-size: 24px;
    font-weight: bold;
    color: #2196f3;
    text-align: center;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1976d2;
}